<h4>投稿編集</h4>
<div class="container">
 <div class='row'>
<div class="mx-auto">
<%= form_with model: @post, url: public_post_path(@post.id) do |f| %>

<div class="col-2">
<p>タイトル
</div>
<div class="col-8">
 <%= f.text_field :title, class: "posttext" %></p>
</div>

<p>ジャンル選択
<div>
<%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
<%= b.label { b.check_box + b.text } %>
<% end %>
</p>
</div>

<div class="col-2">
<p>説明
</div>
<div class="col-8">
  <%= f.text_area :body, class: "postbody" %></p>
</div>

<p><%= f.label :画像 %><br>

 <%= f.file_field :post_image, placeholder: "プロフィール画像", accept: "image/*" %>
 </p>

<div class="container">
 <div class="text-right">
<%= f.submit '変更を保存', class: "btn btn-success" %>
</div>
</div>
<% end %>

