<h2>投稿詳細</h2>
<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-7">
    
    <h2><%= @post.title %></h2></br>
    
    <% if @post.genres.any? %>
    <% @post.genres.each do |genre| %>
    <%= genre.name %>
    <% end %>
    <% end %>
    
    <%= image_tag @post.get_post_image, class: "post-index-img" %>
    
    <p><%= @post.body %></p><br>
    
    
    
    コメントをする
    
    <%= form_with(model:[@post, @comment], url: public_comments_path, method: :post) do |f| %>
      <%= f.text_area :comment_content %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit 'コメントする' %>
      <% end %>
    
     コメント一覧
<% @post.comments.each do |comment| %>
<table>
 <thead>
  <tr>
   <th><%=comment.customer.nickname %></th>
   <th><%= I18n.l comment.created_at %></th>
  </tr>
  </thead>
 <tbody>
<tr>
 <td></td>
 <td><%= comment.comment_content %></td>
</tr>
</tbody>
</table>
    <% end %>
    
    <h3> <%= @post.likes.count %> いいね</h3>
    
    <div id="post-<%= @post.id %>">
       <%= render partial: "public/likes/like", locals: { post: @post } %>
    </div>
    
    
    <h2>いいねしたユーザー</h2>
    <% @post.liked_customers.each do |customer| %>
      <li><%= customer.nickname %></li>
    <% end %>
    
    
    <% if customer_signed_in? && current_customer.id == @post.customer_id %>
    <%= link_to '編集する',edit_public_post_path, class: "btn btn-success" %>
     <%= link_to "削除する", public_post_path(@post), method: :delete,data: { confirm: '本当に消しますか？' },class: "btn btn-danger" %>
     <% end %>
    </div>
  </div>
</div>