<h1>みにみにハテナ</h1>

<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>
<div class="container">
<div class="row">


<% @posts.each do |postss| %>
<div class="col-lg-3 card-post">
 <%= postss.customer.nickname %>
 <span class="like">
     <% if customer_signed_in? && current_customer.already_liked?(postss) %>
  <%= link_to public_post_like_path(postss.id, current_customer.likes.find_by(post_id: postss.id).id), method: :delete, class: "unlike-btn" do %>
  <i class="fas fa-heart"></i>
   <% end %>
<% else %>
  <%= link_to public_post_likes_path(postss.id),method: :post, class: "like-btn" do %>
   <i class="far fa-heart"></i>
   <% end %>
<% end %>
<%= postss.liked_customers.count %>
</span>
 <%= link_to public_post_path(postss.id) do %>
   <div class="box1 px-3">
<div><%= postss.title %></div>
<%= image_tag postss.get_post_image, class:"post-index-img" %>

</div>
 <% end %>
 </div>
 <% end %>
</div>
</div>


