 <%#= flash[:notice] %>
<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>
<h2>みにみにハテナ<i class="fas fa-question-square"></i></h2>
<div class="mx-auto">
  <div class="search_form">
    <%= form_with url: public_homes_top_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, value: params[:word] %>
      <%= f.submit "検索", class: "btn btn-primary" %>
      <% if params[:word] %>
      <%= @count %>件
      <% end %>
    <% end %>
  </div>
</div>


<div id='post-pagenate'>
<div class="container">
 <div class="genre-list d-flex flex-wrap bd-highlight justify-content-center">
<% @genres.each do | genre | %>
  <div class="p-2 bd-highlight mx-3"><%= link_to genre.name, public_homes_top_path(genre_id: genre.id), class: "link" %></div>
<% end %>
</div>
<div class="row">


<% @posts.each do |postss| %>
<div class="col-lg-4 card-post d-flex flex-column" >
 <table>
  <thead>
   <tr>
    <th>
 <%= postss.customer.nickname %>
 </th>
 <th>
  <span class="like" id="post-<%= postss.id %>">
   <%= render partial: "public/likes/like", locals: { post: postss } %>
  </span>
 </th>
  </tr>
   </thead>
    </table>
 <%= link_to(public_post_path(postss.id), class: "link h-100") do %>
   <div class="box1 px-3 left d-flex h-100 flex-column justify-content-between">
<div class="aaa"><%= postss.title.truncate(53) %></div>
<%= image_tag postss.get_post_image, class:"post-index-img" %>
</div>
 <% end %>
 </div>
 <% end %>
</div>
</div>
</div>
<%= link_to_next_page @posts, 'もっと見る', class: 'more-link', id: 'more-link' %>

<div class="weather_info">
   <h3>天気予報</h3>
    <label>都市名：</label>
    <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
    <button id="btn">検索</button><br>
    <span>場所 :</span>
    <span id="place"></span><br>
    <span>最高気温 :</span>
    <span id="temp_max"></span>
    <span> ℃</span><br>
    <span>最低気温 :</span>
    <span id="temp_min"></span>
    <span> ℃</span><br>
    <span>湿度 :</span>
    <span id="humidity"></span>
    <span> %</span><br>
    <span>風速 :</span>
    <span id="speed"></span>
    <span> m/s</span><br>
    <span>天気 :</span>
    <span id="weather"></span>
    <div id="icon"><img id="img"></div>
    </div>


 <div class="d-flex flex-wrap bd-highlight justify-content-center">
<%= render partial: "data", collection: @news, as: "news" %>
</div>


　　<span id="back">
      <a href="#">
        <%= image_tag asset_path('arrow.png') %>
      </a>
    </span>