<h1>top</h1>

<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>
<div class="container">
<div class="row">


<% @posts.each do |postss| %>
<div class="col-lg-3">
   <div class="box1">
<%= postss.title %>
<%= link_to public_post_path(postss.id) do %>
<%= postss.body %>
 <% end %>
<div class="far fa-heart"></div>
<%= postss.liked_customers.count %>
</div>
 </div>
 <% end %>
</div>
</div>


