 <%#= flash[:notice] %>
<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>
<h2>みにみにハテナ<i class="fas fa-question-square"></i></h2>
<div class="mx-auto">
  <div class="search_form">
    <%= form_with url: public_homes_top_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, value: params[:word] %>
      <% if params[:word].present? %>
        <%= @count %>件 
      <% end %>
      <%= f.submit "検索", class: "btn btn-primary" %>
      <% if params[:word] %>
      
      <% end %>
    <% end %>
  </div>
</div>


<div id='post-pagenate'>
 <div class="container">
  <div class="genre-list d-flex flex-wrap bd-highlight justify-content-center">
   <% @genres.each do | genre | %>
     <div class="p-2 bd-highlight mx-3"><%= link_to genre.name, public_homes_top_path(genre_id: genre.id), class: "link" %></div>
   <% end %>
  </div>
  <div id="post_lists">
   <%= render partial: 'posts', locals: {posts: @posts} %>
  </div>
 </div>
</div>
<div class="mx-auto">
<div id="view_more">
 <%= link_to_next_page @posts, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
 </div>
</div>

<div class="container">
<row>
<table class="table">
  <div class="weather_info">
  <h3>天気予報</h3>
    <label>都市名：</label>
    <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
    <button id="btn">検索</button><br>
  <thead>
    <tr>
      <th scope="col">都市名</th>
      <th scope="col">最高気温</th>
      <th scope="col">最低気温</th>
      <th scope="col">湿度</th>
      <th scope="col">風速</th>
      <th scope="col">天気</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="place"></td>
      <td id="temp_max"></td>
      <td id="temp_min"></td>
      <td id="humidity"></td>
      <td id="speed"></td>
      <td id="weather">
       <img id="img"></div>
      </td>
    </tr>
  </tbody>
  </div>
</table>
</row>
</div>


<div class="container">
 <div class="d-flex flex-wrap bd-highlight justify-content-center">
<%= render partial: "data", collection: @news, as: "news" %>
 </div>
</div>

　　<span id="back">
      <a href="#">
        <%= image_tag 'arrow.png' %>
      </a>
    </span>