 <%#= flash[:notice] %>
<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>
<h2>みにみにハテナ<i class="fas fa-question-square"></i></h2>
<div class="mx-auto">
  <div class="search_form">
    <%= form_with url: public_searchs_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<div class="genre-list">
<% @genres.each do | genre | %>
  <p><%= link_to genre.name, public_homes_top_path(genre_id: genre.id), class: "link" %></p>
</div>
<% end %>
</div>

<div class="container">
<div class="row">


<% @posts.each do |postss| %>
<div class="col-lg-4 card-post" >
 <table>
  <thead>
   <tr>
    <th>
 <%= postss.customer.nickname %>
 </th>
 <th>
 <span class="like">
     <% if customer_signed_in? && current_customer.already_liked?(postss) %>
  <%= link_to public_post_like_path(postss.id, current_customer.likes.find_by(post_id: postss.id).id), method: :delete, class: "unlike-btn" do %>
  <i class="fas fa-heart"></i>
   <% end %>
<% else %>
  <%= link_to public_post_likes_path(postss.id),method: :post, class: "like-btn" do %>
   <i class="far fa-heart"></i>
   <% end %>
<% end %>
<%= postss.liked_customers.count %>
</span>
 </th>
  </tr>
   </thead>
    </table>
 <%= link_to(public_post_path(postss.id), class: "link") do %>
   <div class="box1 px-3 left">
<div><%= postss.title.truncate(53) %></div>
<%= image_tag postss.get_post_image, class:"post-index-img" %>
</div>
 <% end %>
 </div>
 <% end %>
</div>
 </div>

<div class="weather_info">
   <h3>天気予報</h3>
    <label>都市名：</label>
    <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
    <button id="btn">検索</button><br>
    <span>場所 :</span>
    <span id="place"></span><br>
    <span>最高気温 :</span>
    <span id="temp_max"></span>
    <span> ℃</span><br>
    <span>最低気温 :</span>
    <span id="temp_min"></span>
    <span> ℃</span><br>
    <span>湿度 :</span>
    <span id="humidity"></span>
    <span> %</span><br>
    <span>風速 :</span>
    <span id="speed"></span>
    <span> m/s</span><br>
    <span>天気 :</span>
    <span id="weather"></span>
    <div id="icon"><img id="img"></div>
    </div>



<%= render partial: "data", collection: @news, as: "news" %>


　　<span id="back">
      <a href="#">
        <%= image_tag asset_path('arrow.png') %>
      </a>
    </span>