<%= form_with model: @post, url: public_posts_path, local: true do |form| %>

<p><%= form.label :タイトル %><br>
<%= form.text_field :title,placeholder: 'title', class: "posttext"%>
</p>

<p><%= form.label :説明文 %><br>
<%= form.text_area :body,placeholder: 'body', class: "postbody" %>
</p>

<%= form.collection_check_boxes(:genre_ids, Genre.where(customer_id:[current_customer.id,nil]), :id, :name) do |b| %>
<%= b.label { b.check_box + b.text } %>
<% end %>

<p><%= form.label :画像 %><br>

 <%= form.file_field :post_image, placeholder: "プロフィール画像", accept: "image/*" %>
 </p>

<p><%= form.submit '投稿する', class:"btn btn-success"%>
</p>

<% end %>