<h3>過去の投稿 (全<%= @posts.size%>件)</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |postss| %>
    <tr>
      <td>
        <%= postss.title %>
      </td>
      <td>
         <%= link_to admin_post_path(postss.id) do %>
        <%= postss.body %>
         <% end %>
         <%= postss.liked_customers.count %> いいね
      </td>
    </tr>
    <% end %>
    </tbody>
</table>
</div>
</div>
</div>


