<h2><%= @post.customer.last_name + @post.customer.first_name %>投稿詳細</h2>
<div class="container">
 <div class="text-right">
<%= link_to '投稿一覧に戻る', admin_posts_path(customer_id: @post.customer.id), class: "btn btn-success" %>
 </div>
  </div>


<div class="container">
<div class="row">
<div class="col-1">
</div>

<div class="col-7">
<h2> <%= @post.title %></h2></br>
<% if @post.genres.any? %>
<% @post.genres.each do |genre| %>
#<%= genre.name %>
<% end %>
<% end %>

<p><%= @post.body %></p><br>

<% @post.comments.each do |comment| %>
コメント <%= comment.comment_content %>
<%= link_to "削除する",  admin_comment_path(comment), method: :delete,data: { confirm: '本当に消しますか？' },class: "btn btn-danger" %></br>
<% end %>

<%= link_to '編集する',edit_admin_post_path, class: "btn btn-success" %>
 <%= link_to "削除する", admin_post_path(@post), method: :delete,data: { confirm: '本当に消しますか？' },class: "btn btn-danger" %>
</div>
</div>
</div>