<h2>みにみにハテナ<i class="fas fa-question-square"></i></h2>
 <div class="mx-auto">
  <h4>ユーザーログイン</h4>
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="field">
   <%= f.label :メールアドレス %><br />
   <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'email' %>
 </div>

 <div class="field">
   <%= f.label :パスワード%><br />
   <%= f.password_field :password, autocomplete: "current-password",placeholder: 'password' %>
 </div>

 <% if devise_mapping.rememberable? %>
  <div class="field">
   <%= f.check_box :remember_me %>
   <%= f.label :ログイン状態を保存する %>
  </div>
 <% end %>

  <div class="actions">
   <%= f.submit "ログイン" %>
  </div>
 <% end %>

 <div class="col-12">
  <h4>登録がお済みでない方</h4>
 </div>
 <div class="col-8">
   <%= link_to  new_customer_registration_path do %>
   <small>こちら</small>
   <% end %><small style='margin-top:5px'>から新規会員登録してください</small>
 </div>