<!DOCTYPE html>

<html>
  <head>
    <title>Miniminihatena</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>

            <li class="nav-item">
              <%= link_to "ユーザーログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", public_customer_path( current_customer), class: 'nav-link text-dark' %>
            </li>
             <li class="nav-item">
               <%= link_to "投稿する", new_public_post_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
               <%= link_to "topへ戻る", root_path, class: 'nav-link text-dark' %>
            </li>

            <% elsif admin_signed_in? %>
            <li class="nav-item">
                <%= link_to "adminログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
               <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">

            </li>

              <% else %>

            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧のみ）',  public_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
               <%= link_to "ユーザーログイン",   new_customer_session_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザー新規登録",   new_customer_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
             <%= link_to "topへ戻る", root_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
            </li>
            <% end %>

            </ul>
          </div>
        </div>
      </nav>
   </header>
   <%= yield %>
  </body>
</html>
